body, p, h1, h2 {
	font-family: 'Quicksand', sans-serif;
}
body{
	overflow: hidden;
	-webkit-transition: background .2s linear;
}
body.winning{
	background: #AAFFAA;
}
body.winning-sortof{
	background: #AAAAFF;
}
body.winning-not{
	background: #AAAAAA;
}
body.losing{
	background: #FFAAAA;
}

.main-container{
	position: absolute;
}

.logo{
    display: none;
}​

.x.axis line {
    shape-rendering: auto;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.muse-btn{
    text-transform:uppercase; 
  font-weight:bold; 
  border-radius:2px; 
  background-color:transparent; 
  border:3px solid #333; 
  padding: 6px 12px;
  transition:all 1s ease; 
  font-family: 'Lato', sans-serif; 
  font-weight: 900;
}
.muse-btn:hover, button:hover {
    outline:0;  
  color:#FFF; 
  background-color: #DCDCDC;
}

p {
    font-weight: 900;
}




