body {
  background: black !important;
}

.battery {
  display: inline-block;
  width: 48px;
  height: 24px;
  border: 2px solid #EEE;
  border-radius: 4px;
  padding: 1px;
  -webkit-transform: scale(0.5);
	top: 8px;
	margin-left: -9px;
	position: relative;
}
.battery:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -6px;
  margin-top: -4px;
  width: 3px;
  height: 8px;
  background: #EEE;
  border-radius: 0px 3px 3px 0px;
}
.battery .level {
  width: 0%;
  height: 100%;
  background: #EEE;
  border-radius: 2px 0 0 2px;
}

* {
	font-family: 'Helvetica Neue', sans-serif;
}
body{
	overflow: hidden;
}

.main-container{
	position: absolute;
}

.logo{
    display: none;
}​

.x.axis line {
    shape-rendering: auto;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.muse-btn{
    text-transform:uppercase; 
  font-weight:bold; 
  border-radius:2px; 
  background-color:transparent; 
  border:3px solid #333; 
  padding: 6px 12px;
  transition:all 1s ease; 
  font-family: 'Lato', sans-serif; 
  font-weight: 900;
}
.muse-btn:hover, button:hover {
    outline:0;  
  color:#FFF; 
  background-color: #DCDCDC;
}

p {
    font-weight: 900;
}




